$fontColor: white;
$success: #019934;
$warning: #F7AD03;
$fontSize: 16px;

.mat-header-cell {
  background-color: #F57C00;
  font-size: $fontSize;
  color: $fontColor;
}

.flex {
  display: flex;
  justify-content: center;
}

.text-white {
  color: $fontColor;
}

.icon-sucess {
  color: $success;
}

.icon-warning {
  color: $warning;
}

.padding-left-40px{
  padding-left: 40px;
}
.padding-left-50px{
  padding-left: 50px;
}


