<div class="flex">
  <div class="width-1000px">
    <br>
    <div align="end">
      <button mat-raised-button color="primary" 
        (click)="openDialogBill('include')"
        class="text-white" >
        Nova Conta
      </button>
    </div>
    <br>
    <table mat-table [dataSource]="bills" class="mat-elevation-z8 width-full">
      <ng-container matColumnDef="description">
        <th style="width:350px;" color="primary" mat-header-cell *matHeaderCellDef> Descrição </th>
        <td style="width:350px;" mat-cell *matCellDef="let element"> {{element.description}} </td>
      </ng-container>

      <ng-container matColumnDef="amount">
        <th style="padding-left: 40px;" mat-header-cell *matHeaderCellDef> Valor </th>
        <td style="padding-left: 40px;" mat-cell *matCellDef="let element"> {{element.amount | currency}} </td>
      </ng-container>

      <ng-container matColumnDef="type">
        <th style="padding-left: 40px;" mat-header-cell *matHeaderCellDef> Tipo </th>
        <td style="padding-left: 40px;" mat-cell *matCellDef="let element"> {{element.type | transformBillType}} </td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th style="padding-left: 40px;" mat-header-cell *matHeaderCellDef> Status </th>
        <td style="padding-left: 50px;" mat-cell *matCellDef="let element"> 
            <mat-icon 
              [matTooltip]="element.status | transformBillStatus: element.type"
              *ngIf="element.status" 
              class="icon-sucess">
              check_circle
            </mat-icon>
            <mat-icon
              [matTooltip]="element.status | transformBillStatus: element.type" 
              *ngIf="!element.status"   
              class="icon-warning">
              warning
            </mat-icon>  
        </td>
      </ng-container>

      <ng-container matColumnDef="exclude-edit">
        <th style="padding-left: 60px;" mat-header-cell *matHeaderCellDef></th>
        <td style="padding-left: 60px;" mat-cell *matCellDef="let element">
          <button (click)="openDialogBill(update, element)" mat-icon-button color="primary">
            <mat-icon matTooltip="Editar" color="primary">edit</mat-icon>
          </button>
          <button (click)="excludeBill(element.id)" mat-icon-button color="primary">
            <mat-icon matTooltip="Excluir" color="primary">delete</mat-icon>
          </button>
        </td>
      </ng-container>
      
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      <!-- <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
        </tr> -->
    </table>

  </div>
</div>