$white: white;
.mat-header-cell {
  background-color: #F57C00;
  font-size: 16px;
  color: $white;
}

.text-white {
  color: $white;
}

.flex {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.padding-10 {
  padding: 10px;
}

.width-full {
  width: 100%;
}

.width-1000px {
  width: 900px;
}

.icon-sucess {
  color: #019934;
}

.icon-warning {
  color: #F7AD03;
}


