<div class="flex">
  <div class="width-1000px">
    <br>
    <div align="end">
      <button mat-raised-button color="primary" 
        (click)="openDialogBill('include')"
        class="text-white" >
        Nova Conta
      </button>
    </div>
    <br>
    <table mat-table [dataSource]="bills" class="mat-elevation-z8 width-full">
      <ng-container matColumnDef="description">
        <th color="primary" mat-header-cell *matHeaderCellDef> Descrição </th>
        <td mat-cell *matCellDef="let element"> {{element.description}} </td>
      </ng-container>

      <ng-container matColumnDef="amount">
        <th mat-header-cell *matHeaderCellDef> Valor </th>
        <td mat-cell *matCellDef="let element"> {{element.amount | currency}} </td>
      </ng-container>

      <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef> Tipo </th>
        <td mat-cell *matCellDef="let element"> {{element.type | transformBillType}} </td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef> Status </th>
        <td mat-cell *matCellDef="let element"> 
            <mat-icon 
              [matTooltip]="element.status | transformBillStatus: element.type"
              *ngIf="element.status" 
              class="icon-sucess">
              check_circle
            </mat-icon>
            <mat-icon
              [matTooltip]="element.status | transformBillStatus: element.type" 
              *ngIf="!element.status"   
              class="icon-warning">
              warning
            </mat-icon>  
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      <!-- <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
        </tr> -->
    </table>

  </div>
</div>